<!--  change email  -->
<html>
  <head>
    <title>Crowdy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/change.css">
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
  </head>

  <body id="LoginForm" ng-app="directoryApp">

      <h1 class="form-heading">
          <img src="https://raw.githubusercontent.com/cen3031group2/Crowdy/master/client/images/Crowdy_Concept.png" alt="Crowdy">
      </h1>
              
      <div class="exit"><a href="index.html"><i class="glyphicon glyphicon-remove white"></i></a></div>
       
      <div class="login-form">
          <div class="main-div" ng-controller="UpdateController">
              <div class="panel">
                <legend>Change Username</legend>
                <label >New Username:</label>
                <input class="form-control" type="text" ng-model="username"  required />
                <button type="submit" class="btn btn-primary" ng-click="updateUsername(username)">Submit Change</button>
            </div>
        </div>
      </div>
  </body>