<!--login form-->
<html>

<head>
    <title>Crowdy Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/LoginForm.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>
    <script src="./js/app.js"></script>
    <!--script src="./js/controllers/userFactory.js"></script-->
  
    <title>Crowdy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/createAccount.css">

</head>

<body id="LoginForm" ng-app="directoryApp">

    <div class="exit"><a href="index.html"><i class="glyphicon glyphicon-remove white"></i></a></div>
<form action="">
    <div class="container" ng-controller="UserController">
      
    <div align="center">
        <img src="images\Crowdy_Concept.png" alt="Crowdy">
        <h1>Create an Account</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
    </div> 
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" ng-model="newUser.username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" ng-model="newUser.password" required>
  
      <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->
      <hr>
     
      <button type="submit" class="registerbtn" ng-click="createUser(newUser)">Create Account</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="loginForm.html">Sign in</a>.</p>
    </div>
  </form>
  
</body>
</html>
