<!-- this is crowdy's html file. woohoo. -->
<!-- 10/11/18-->
<html>
<head>
  <title>Crowdy</title>
  <link rel="stylesheet" href="styles/movies.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
  <body ng-app="directoryApp">
    <div class="row" ng-controller="MovieController">
      <h2 align="center">List of movies<br></h2>
      <div align="center" class="dropdown">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Cinema
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="changeListingsView(42490)">Regal Butler Town Center 14</a></li>
          <li><a href="#" ng-click="changeListingsView(42506)">Regal Royal Park Stadium 16</a></li>
          <li><a href="#" ng-click="changeListingsView(64196)">Regal Celebration Pointe 10 & RPX Movie Theatre</a></li>
        </ul>
        </div>
      </div>
      <h1 align="center">
        <form class="example" action="action_page.php"></form>
          <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="search" ng-model="codec"/>
          </div>
      </h1>
        <div class="col-md-6">
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr ng-repeat="x in movies | filter:valid">
                  <td> </td> <!-- Picture goes here -->
                  <td>{{x.title}}<br>
                  {{x.genres[0]}}<br>
                  {{x.rating[0]}}<br>
                  Showtimes
                  <span id="shows" ng-repeat="y in x.showtimes">{{y}}</span>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4 text-center">
              <!-- cinema and movies tabs -->
              <ul id="buttomBarul">
                <li><a class="active" href="./crowdy.html">Show Cinemas</a></li>
                <li ng-controller="MovieController" ng-click="getMoviesFromTheater()"><a href="./crowdy2.html">Show Movies</a></li>
              </ul>
            </div>
          </div>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/factories/moviesFactory.js"></script>
    <!-- <script src="./js/factories/theaterFactory.js"></script> -->
  </body>
</html>
