<!-- this is crowdy's html file. woohoo. -->
<!-- 10/11/18-->
<!DOCTYPE html>

<html>
<head>
  <title>Crowdy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
  <body ng-app="directoryApp">
    <!--<div class="row" ng-controller="TheaterController">
      <!--<h2 align="center">List of movies<br></h2>
      <div align="center" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="selectCinema" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Cinema to View Crowdiness
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" ng-repeat="x in theaterListings">{{x}}</a><br>
          </div>
      </div>-->
    <!--</div>-->
    <div class="row" ng-controller="MovieController">
      <h1 align="center">
        <!-- search bar *cole*  -->
        <form class="example" action="action_page.php"></form>
          <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="search"/>
          </div>
      </h1>
        <div class="col-md-6">
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr ng-repeat="x in movieListings">
                  <td> </td> <!-- Picture goes here -->
                  <td>{{x.name}}<br>
                  {{x.genre}}<br>
                  {{x.ratings}}<br>
                  Showtimes
                  <span id="shows" ng-repeat="y in x.showtimes">{{y}}</span>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4 text-center">
        <!--<button id="singlebutton" name="singlebutton" layout-align="center" ng-href="./crowdy2.html">Show Movies</button>-->
        <!--previous tab buttons
        <a href="./crowdy.html">Cinemas</a>
        <a href="./crowdy2.html">Movies</a> -->

        <!-- cinema & movie tabs  *cole* -->
        <ul>
          <li><a href="./crowdy.html">Show Cinemas</a></li>
          <li><a class="active" href="./crowdy2.html">Show Movies</a></li>
        </ul>

      </div>
    </div>
    <!-- Add scripts in -->
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers/movieController.js"></script>
    <script src="./js/factories/moviesFactory.js"></script>
    <script src="./js/controllers/theaterController.js"></script>
    <script src="./js/factories/theaterFactory.js"></script>
  </body>
</html>
