/* // Crowdy's CSS file for styling our amazing webpage */
/* // 10/11/18 */
#login-button {
  display: inline;
  float: right;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

#title {
  margin-left: 90px;
}

.text-center {
  text-align: center;
}

/* tabs */
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #33a8b8;
}

/* end change password */
/* -------------------map----------------- */
#map {
  height: 100%;
  width: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Crowdy image */
img {
  display: flex;
  width: 100px;
  height: auto;
  position: absolute;
  margin-left: 0px;
  margin-right: auto;
  margin-top: -35px;
  margin-bottom: 10px;
  z-index: 1;
}

#bottomButtons {
  z-index: 1;
}
