/* // Crowdy's CSS file for styling our amazing webpage */
/* // 10/11/18 */

#login-button {
  display: inline;
  float: right;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

#title {
  margin-left: 90px;
}

.text-center {
  text-align: center;

}

/* tabs */
.form-group ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.form-group li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #33a8b8;
}

/* end change password */

/* -------------------map----------------- */
#map {
  height: 100%;
  width: 100%;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Crowdy image */
img {
  display: flex;
  width: 130px;
  height: 120px;
  position: absolute;
  margin-left: -15px;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  z-index: 1;
}

#crowdyLevel {
	margin-top: 200px;
	margin-right: 80px;
	display: inline;
	padding: 20px;
	width: 50px;
	height: auto;
}

/* top navigation bar */

.topNavigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  margin-top: 15px;
}

.topNavigation li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.topNavigation li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

.topNavigation li a:hover:not(.active) {
  background-color: rgb(0, 154, 201);
}

.active {
  background-color: #FBA20C;
  width: 120px;
  margin-right: -20px;
}
/* top navigation bar */

/* ------------------ */

.dropdown1 .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  padding: 30px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topNavigation a:hover, .dropdown1:hover .dropbtn {
  background-color: rgb(0, 154, 201);
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown1-content a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropbtn {
  float: right;
  margin-right: 30px;
  font-size: 36px;
}
.white, .white a {
  color: #fff;
}
/* end top navigation bar */


.headerButtons {
  color: black;
}